.intro-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  color: #00ffee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  z-index: 9999;
  animation: fadeOut 1s ease forwards;
  animation-delay: 3s; /* Duración antes de ocultar */
  pointer-events: none;
}

.intro-screen h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.intro-screen p {
  font-size: 1.2rem;
  color: #aaa;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
